@mixin color-scheme($name) {
    @media (prefers-color-scheme: #{$name}) {
        @content;
    }
}

@each $name, $var in $theme-colors {
    .btn-#{$name} {
        background-color: $var;
        border-color: $var;
    }
    .btn-light-#{$name} {
        background-color: lighten($var, 20%);
        border-color: lighten($var, 20%);
        color: color-contrast(lighten($var, 20%));
        &:hover{
            background-color: darken($var, 30%);
            border-color: darken($var, 30%);
            color: color-contrast(darken($var, 30%));
        }
    }
}

@mixin color-mode($mode: light, $root: false) {
    @if $color-mode-type == "media-query" {
      @if $root == true {
        @media (prefers-color-scheme: $mode) {
          :root {
            @content;
          }
        }
      } @else {
        @media (prefers-color-scheme: $mode) {
          @content;
        }
      }
    } @else {
      [data-bs-theme="#{$mode}"] {
        @content;
      }
    }
}